</html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link href="/tailwindcss.css" rel="stylesheet">
</head>

<body>
    <header>
        <%- include('components/header') %>
    </header>
    <div class="bg-red-500">a</div>
    <main>
        <%- include(page) %>
    </main>
    <footer>
        <%- include ('components/footer') %>
    </footer>
</body>

</html>