<div>
    <div>

    </div>
    <div>
        <div class="container mx-auto">
            <h1 class="text-2xl font-bold mb-4">Danh sách đơn đặt hàng</h1>

            <table class="min-w-full bg-white border border-gray-200 rounded-lg shadow-md">
                <thead>
                    <tr class="bg-gray-100 border-b border-gray-200">
                        <th class="px-4 py-2 text-left text-gray-700 border-r border-gray-200">I</th>
                        <th class="px-4 py-2 text-left text-gray-700 border-r border-gray-200">id</th>
                        <th class="px-4 py-2 text-left text-gray-700 border-r border-gray-200">status</th>
                        <th class="px-4 py-2 text-left text-gray-700 border-r border-gray-200">description</th>
                        <th class="px-4 py-2 text-left text-gray-700 border-r border-gray-200">Date</th>
                        <th class="px-4 py-2 text-left text-gray-700 border-r border-gray-200">Payment</th>
                        <th class="px-4 py-2 text-left text-gray-700 border-l border-gray-200 float-end">operation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="border-b border-gray-200">
                        <td class="px-4 py-2 border-r border-gray-200">a
                        </td>
                        <td class="px-4 py-2 border-r border-gray-200">aaaaaaaaaaaaaaaaaaa
                        </td>
                        <td class="px-4 py-2 border-r border-gray-200">aaaaaaaaaaaaaaaaaaaa
                        </td>
                        <td class="px-4 py-2 border-r border-gray-200">aaaaaaaaaaaaaaaaaaaa
                        </td>
                        <td class="px-4 py-2 border-r border-gray-200">aaaaaaaaaaaaaaaaaaaa
                        </td>
                        <td class="px-4 py-2 ">aaaaaaaaaaaaaaaaaaaa
                        </td>
                        <td class=" pl-2 py-2 border-l border-gray-200 float-end">
                            <button class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
                                chi tiết
                            </button>
                            <button class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
                                ...
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>