<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/output.css" rel="stylesheet">
</head>

<body>
    <header>
        <!-- <h1 class="text-3xl text-blue-700 font-bold underline">
            Hello world!
        </h1> -->
        <%- include ('./components/header') %>
    </header>

    <main>
        <div class="container bg-red-500">
            aadwadw
        </div>
    </main>
    <footer>
        <%- include ('./components/footer') %>
    </footer>
</body>

</html>