<div class="w-52 h-full bg-violet-50 shadow-lg flex flex-col">
    <div class="text-xl">
        <div>
        </div>
        <a href="/">
            <button class="w-full h-12 flex items-center pl-7 hover:bg-violet-200">
                <div class="uppercase">Dashboard</div>
            </button>
        </a>

        <a href="/order">
            <button class="w-full h-12 flex items-center pl-7 hover:bg-violet-200">
                <div class="uppercase">Order</div>
            </button>
        </a>
        <a href="/category">
            <button class="w-full h-12 flex items-center pl-7 hover:bg-violet-200">
                <div class="uppercase">
                    Category
                </div>
            </button>
        </a>
        <a href="/product">
            <button class="w-full h-12 flex items-center pl-7 hover:bg-violet-200">
                <div class="uppercase">Product</div>
            </button>
        </a>

        <a href="/user">
            <button class="w-full h-12 flex items-center pl-7 hover:bg-violet-200">
                <div class="uppercase">user</div>
            </button>
        </a>


    </div>

    <!-- Kiểm tra trạng thái đăng nhập -->
    <div class="float-end h-full flex flex-col justify-between pb-3">
        <div></div> <!-- Đẩy nút Logout xuống dưới -->
        <% if (user) { %>
            <!-- Đã đăng nhập -->
            <form action="/user/logout" method="POST" class="flex flex-col items-center space-y-4">
                <div class="text-gray-600 text-xl uppercase">
                    <%= user.username %>
                </div>
                <button class="w-4/5 h-12 bg-red-100 hover:bg-red-400 uppercase text-xl rounded-2xl">
                    Logout
                </button>
            </form>
            <% } else { %>
                <!-- Chưa đăng nhập -->
                <div class="flex items-center justify-center mb-3">
                    <a href="/user/loginpage">
                        <button class="w-4/5 h-12 bg-green-100 hover:bg-green-400 uppercase text-xl rounded-2xl">
                            Login
                        </button>
                    </a>
                </div>
                <% } %>
    </div>
</div>